﻿<div id="tableBlock"></div>

<div id="createBlock">
    <h2><b>Добавление заявки</b></h2>
	<form name="Zayavka">
    <table>
        <tr><td><label>*Тип заявки: </label> </td><td><input  type="text" id="addTipzayavki" class="form-control" title="Тип заявки, выбираемый при формировании ЭД"/></td></tr>
		<tr><td><label>*Номер заявки, 2-YYYYYY:  </label> </td><td><input  type="text" class="form-control" id="addNumzayavki" title=""/></td></tr>
		<tr><td><label>*Дата подачи заявки, ДД.ММ.ГГГГ:  </label> </td><td><input  type="text" class="form-control" id="addDate" title=""/></td></tr>
		<tr><td><label>*Статус ЭД:  </label> </td><td><input  type="text" id="addStatused" class="form-control" title=""/></td></tr>
        <tr><td><label>*Подразделение банка: </label></td><td><select name="Bankkorpus" class="form-control" size="2" multiple title="Подразделения банка, где обслуживается клиент">
                                                             <option selected value="Korpus1">Корпус 1</option>
                                                             <option value="Korpus2">Корпус 2</option>
                                                             <option value="Korpus3">Корпус 3</option>
                                                             <option value="Korpus4">Корпус 4</option>
                                                             </select></td></tr>
        <tr><td><label>*ИНН: </label></td><td><input type="text" class="form-control" id="addInn" /></td></tr>
        <tr><td><label>КПП: </label></td><td><input type="text" class="form-control" id="addKpp" /></td></tr>
        <tr><td><label>*Полное наименование организации: </label></td><td><input type="text" class="form-control" id="addNamefirm" /></td></tr>
        <tr><td><label>ОГРН: </label></td><td><input type="text" id="addOgrn" class="form-control" /></td></tr>
        <tr><td><label>*Имя уполномоченного сотрудника организации: </label></td><td><input type="text"  class="form-control" id="addNamesotrudnik" title="ФИО, Должность" /></td></tr>
        <tr><td><label>*Номер телефона, факса уполномоченного сотрудника: </label></td><td><input type="text" class="form-control" id="addTelephonenumsotrudnik"  title="Номер телефона для связи"/></td></tr>
        <tr><td><label>*Номер счета: </label></td><td><input type="text" id="addNumschet" class="form-control" title="Номер счета клиента в банке, на который требуется зачислить инкассированные денежные средства" /></td></tr>
        <tr><td><label>*БИК: </label></td><td><input type="text" id="addBik " class="form-control" title="БИК банка, в который требуется инкассировать денежные средства" /></td></tr>
        <tr><td><label>*Ноомер корр.счета банка: </label></td><td><input type="text" class="form-control" id="addNumkorr" title="Счет и реквизиты банка, на который производится перечисление проинкассированных средств. " /></td></tr>
        <tr><td><label>*Наименование банка: </label></td><td><input type="text" class="form-control" id="addBankname" title="Наименование банка, в который требуется инкассировать денежные средства" /></td></tr>
        <tr><td><label>*SWIFT: </label></td><td><input type="text" id="addSwift" class="form-control" title="SWIFT банка, в который требуется инкассировать денежные средства" /></td></tr>
        <tr><td><label>Иные реквизиты банка зачисления валюты: </label></td><td><input type="text" class="form-control" id="addRekvizity"  title="Указывается дополнительная информация"/></td></tr>
        <tr><td><label>*Желаемое время сдачи: </label></td><td><input type="text" class="form-control" id="addTime" title="ЧЧ:ММ" /></td></tr>
        <tr><td><label>*Способ сдачи: </label></td><td><input type="text" id="addSposob" class="form-control" title="Предпочитаемый способ сдачи денежной наличности для инкассации." /></td></tr>
        <form name="Chastota">
		<tr>
		
            <td><label title="Ежедневно/Рабочие дни/Через день/День недели/По заявке/По звонку">*Периодичность оказания услуги: </label></td>
            <td>    
                <p><input name="Chastota" type="radio" name="Everyday" onclick="EnableDisable(this)" value="Everyday">Ежедневно</p>
                <p><input name="Chastota" type="radio" name="Rabdni" onclick="EnableDisable(this)"  value="Rabdni">Рабочие дни</p>
                <p><input name="Chastota" type="radio" name="Cherezden"  onclick="EnableDisable(this)" value="Cherezden">Через день</p>
                <p><input name="Chastota" type="radio" name="Dennedeliadd" onclick="EnableDisable(this)"  value="Dennedeliadd">День недели</p>
                <p><input name="Chastota" type="radio" name="Pozayavke"  onclick="EnableDisable(this)" value="Pozayavke">По заявке</p>
                <p><input name="Chastota" type="radio" name="Pozvonku" onclick="EnableDisable(this)"  value="Pozvonku">По звонку</p>
				<tr><td><label>День недели: </label></td><td><input type="text" name="Dennedeli" class="form-control" id="Dennedeli" title="День недели, выбираемый для оказания услуг по объекту инкассации" /></td></tr>
            </td>
        </tr>
		</form>
		<script>
document.forms['Chastota'].reset();
Dennedeli = document.getElementById('Dennedeli');
Dennedeli.disabled = true;

function EnableDisable(el) {
	if (el.value == 'Dennedeliadd') {
  Dennedeli.disabled = false;
} else {
  Dennedeli.disabled = true;
}
}
</script>
        
        
        <tr><td><label>*Предполагаемый объем денежной наличности для инкассации: </label></td><td><input type="text" id="addObjem" class="form-control" title="Сумма предназначенная клиентом к инкассации. М.б. как в рублях так и в ин. валюте" /></td></tr>
        <tr><td><label>*Код валюты: </label></td><td><input type="text" id="addValuta" class="form-control" title="Буквенный код валюты (в соответствии со стандартом ISO 4217)" /></td></tr>
        <tr><td><label>*Руководитель объекта: </label></td><td><input type="text" class="form-control" id="addDirector"  title="Контактный телефон руководителя точки юр. лица, по которой подразделение инкассации производит инкассацию"/></td></tr>
		
	
	
		<form name="rabdni">
		<tr><td><label> </label></td><td><p><input name="rabdni" type="radio" name="rabdni" onclick="EnableDisable1(this)" value="rabdni">Рабочие дни</p></td></tr>		
        <tr><td><label>Рабочие дни, с: </label></td><td><input type="text" id="addRabdnibegin" class="form-control" name="addRabdnibegin" disabled title="Начало работы объекта инкассации в рабочие дни" /></td></tr>
        <tr><td><label>Рабочие дни, до: </label></td><td><input type="text" id="addRabdnifinish" class="form-control" name="addRabdnifinish" disabled title="Конец работы объекта инкассации в рабочие дни" /></td></tr>
		</form>
		
				<script>
document.forms['rabdni'].reset();
addRabdnibegin = document.getElementById('addRabdnibegin');
addRabdnibegin.disabled = true;
addRabdnifinish = document.getElementById('addRabdnifinish');
addRabdnifinish.disabled = true;


function EnableDisable1(el) {
	if (el.value == 'rabdni') {
  addRabdnibegin.disabled = false;
  addRabdnifinish.disabled = false;
} else {
  addRabdnibegin.disabled = true;
  addRabdnifinish.disabled = true;
}
}
</script>
		
		<form name="subbota">
		<tr><td><label> </label></td><td><p><input name="subbota" type="radio" name="subbota" onclick="EnableDisable2(this)" value="subbota">Суббота</p></td></tr>
        <tr><td><label>Суббота, с: </label></td><td><input type="text" id="addSubbotabegin" class="form-control" name="addSubbotabegin" disabled title="Начало работы объекта инкассации в субботу" /></td></tr>
        <tr><td><label>Суббота, до: </label></td><td><input type="text" id="addSubbotafinish" class="form-control" name="addSubbotafinish" disabled title="Конец работы объекта инкассации в субботу" /></td></tr>
		</form>
		
		<script>
document.forms['subbota'].reset();
addSubbotabegin = document.getElementById('addSubbotabegin');
addSubbotabegin.disabled = true;
addSubbotafinish = document.getElementById('addSubbotafinish');
addSubbotafinish.disabled = true;


function EnableDisable2(el) {
	if (el.value == 'subbota') {
  addSubbotabegin.disabled = false;
  addSubbotafinish.disabled = false;
} else {
  addSubbotabegin.disabled = true;
  addSubbotafinish.disabled = true;
}
}
</script>
		
		
		<form name="voskresenje">
		<tr><td><label> </label></td><td><p><input name="voskresenje" type="radio" name="voskresenje" onclick="EnableDisable3(this)" value="voskresenje">Воскресенье</p></td></tr>
        <tr><td><label>Воскресенье, с: </label></td><td><input type="text" id="addVoskrbegin" class="form-control" name="addVoskrbegin" disabled title="Начало работы объекта инкассации в воскресенье" /></td></tr>
        <tr><td><label>Воскресенье, до: </label></td><td><input type="text" id="addVoskrfinish" class="form-control" name="addVoskrfinish" disabled title="Конец работы объекта инкассации в воскресенье" /></td></tr>
		</form>
		
		<script>
document.forms['voskresenje'].reset();
addVoskrbegin = document.getElementById('addVoskrbegin');
addVoskrbegin.disabled = true;
addVoskrfinish = document.getElementById('addVoskrfinish');
addVoskrfinish.disabled = true;


function EnableDisable3(el) {
	if (el.value == 'voskresenje') {
  addVoskrbegin.disabled = false;
  addVoskrfinish.disabled = false;
} else {
  addVoskrbegin.disabled = true;
  addVoskrfinish.disabled = true;
}
}
</script>
		
        <tr>
            <td><label title="Тип адреса объекта инкассации">*Тип адреса: </label></td>
            <td>
                <select name="Addresstype" class="form-control" size="2" multiple>
                    <option selected value="Urid">Юридический</option>
                    <option value="Mejd">Международный</option>
                    <option value="Fact">Фактический</option>
                    <option value="Pocht">Почтовый</option>
                </select>
            </td>
        </tr>

        <tr>
            <td><label title="Тип населенного пункта, в котором находится объект инкассации">*Тип населенного пункта: </label></td>
            <td>
                <select name="Citytype" class="form-control" size="2" multiple>
                    <option selected value="Pos">Поселок</option>
                    <option value="Cit">Город</option>
                    <option value="Sel">село</option>
                    <option value="Stan">Станица</option>
                </select>
            </td>
        </tr>
        <tr><td><label>Город: </label></td><td><input type="text" id="addCity" class="form-control" title="Наименование населенного пункта, в котором находится объект инкассации" /></td></tr>
        <tr><td><label>Улица: </label></td><td><input type="text" id="addStreet" class="form-control" title="Улица, по которой находится объект инкассации" /></td></tr>
        <tr><td><label>Номер дома: </label></td><td><input type="text" id="addHaus" class="form-control" title="Номер дома (владение), в котором находится объект инкассации" /></td></tr>
        <tr><td><label>Корпус: </label></td><td><input type="text" id="addKorpus" class="form-control" title="Корпус (строение), в котором находится объект инкассации" /></td></tr>
        <tr><td><label >*Инкассаторская услуга: </label></td><td><input type="text" class="form-control" id="addUsluga" title="Инкассаторская услуга для оказания юридическому лицу" /></td></tr>


    </table>
    <button id="addZayavka" class="button1">Сохранить</button>
	</form>
</div>
@section scripts
{
    <script type="text/javascript">
    $(document).ready(function () {

        GetAllZayavkas();

        $("#editZayavka").click(function (event) {
            event.preventDefault();
            EditZayavka();
        });

        $("#addZayavka").click(function (event) {
            event.preventDefault();
            AddZayavka();
        });

    });
    // Получение всех заявок по ajax-запросу"     ОШИБКА!!!
   /* function GetAllZayavkas() {

        $("#createBlock").css('display', 'block');
        $("#editBlock").css('display', 'none');
        $.ajax({
            url: '/api/values',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }*/
 // Добавление новой заявки
    function AddZayavka() {
        // получаем значения для добавляемой заявки
        var zayavka = {
            Tipzayavki: $('#addTipzayavki').val(),
			Numzayavki: $('#addNumzayavki').val(),
			Date: $('#addDate').val(),
			Statused: $('#addStatused').val(),
            Bankkorpus: $('#addBankkorpus').val(),
            INN: $('#addInn').val(),
            Kpp: $('#addKpp').val(),
            Namefirm: $('#addNamefirm').val(),
            Ogrn: $('#addOgrn').val(),
            Namesotrudnik: $('#addNamesotrudnik').val(),
            Telephonenumsotrudnik: $('#addTelephonenumsotrudnik').val(),
            Numschet: $('#addNumschet').val(),
            Bik: $('#addBik').val(),
            Numkorr: $('#addNumkorr').val(),
            Bankname: $('#addBankname').val(),
            Swift: $('#addSwift').val(),
            Rekvizity: $('#addRekvizity').val(),
            Time: $('#addTime').val(),
            Sposob: $('#addSposob').val(),
            Chastota: $('#addChastota').val(),
            Dennedeli: $('#addDennedeli').val(),
            Objem: $('#addObjem').val(),
            Valuta: $('#addValuta').val(),
            Director: $('#addDirector').val(),
            Rabdnibegin: $('#addRabdnibegin').val(),
            Rabdnifinish: $('#addRabdnifinish').val(),
            Subbotabegin: $('#addSubbotabegin').val(),
            Subbotafinish: $('#addSubbotafinish').val(),
            Voskrbegin: $('#addVoskrbegin').val(),
            Voskrfinish: $('#addVoskrfinish').val(),
            Addresstype: $('#addAddresstype').val(),
            Citytype: $('#addCitytype').val(),
            City: $('#addCity').val(),
            Street: $('#addStreet').val(),
            addHaus: $('#addaddHaus').val(),
            Korpus: $('#addKorpus').val(),
            Usluga: $('#addUsluga').val()
       


        };

        $.ajax({
            url: '/api/values/',
            type: 'POST',
            data: JSON.stringify(zayavka),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                GetAllZayavkas();
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
 // Удаление заявки
    function DeleteZayavka(id) {

        $.ajax({
            url: '/api/values/' + id,
            type: 'DELETE',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                GetAllZayavkas();
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
    // редактирование заявки 
    function EditZayavka() {
        var id = $('#editId').val()
        // получаем новые значения для редактируемой заявки
        var zayavka = {
            Id: $('#editId').val(),
           
        };
        $.ajax({
            url: '/api/values/' + id,
            type: 'PUT',
            data: JSON.stringify(zayavka),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                GetAllZayavkas();
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
 // вывод полученных данных на экран
   /* function WriteResponse(zayavkas) {
        var strResult = "<table><th>ID</th><th>Название</th><th>Автор</th><th>Год издания</th>";
        $.each(zayavkas, function (index, zayavka) {
            strResult += "<tr><td>" + zayavka.Id + "</td><td> " + zayavka.Name + "</td><td>" +
            zayavka.Author + "</td><td>" + zayavka.Year +
            "</td><td><a id='editItem' data-item='" + zayavka.Id + "' onclick='EditItem(this);' >Редактировать</a></td>" +
            "<td><a id='delItem' data-item='" + zayavka.Id + "' onclick='DeleteItem(this);' >Удалить</a></td></tr>";
        });
        strResult += "</table>";
        $("#tableBlock").html(strResult);

    }*/
    // обработчик удаления
    function DeleteItem(el) {
        // получаем id удаляемого объекта
        var id = $(el).attr('data-item');
        DeleteZayavka(id);
    }
    // обработчик редактирования
    function EditItem (el) {
        // получаем id редактируемого объекта
        var id = $(el).attr('data-item');
        GetZayavka(id);
    }
    // вывод данных редактируемой заявки в поля для редактирования
    function ShowZayavka(zayavka) {
        if (zayavka != null) {
            $("#createBlock").css('display', 'none');
            $("#editBlock").css('display', 'block');
            $("#editId").val(zayavka.Id);
            
        }
        else {
            alert("Такой заявки не существует");
        }
    }
    // запрос книги на редактирование
    function GetZayavka(id) {
        $.ajax({
            url: '/api/values/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                ShowZayavka(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
    </script>
}